### Build ###
.gradle/
build/

### Gradle Wrapper (manter JAR do wrapper no repo) ###
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Eclipse / STS ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Logs ###
*.log

### OS files ###
.DS_Store
Thumbs.db

### Git Flow plugin config ###
git-flow-plus.config
gitflow/
gitflow-installer.sh